@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.eot);
    src: local("Raleway"), local("Raleway-Regular"),
        url(../fonts/raleway/Raleway-Regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Regular.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Regular.woff) format("woff"),
        url(../fonts/raleway/Raleway-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-ExtraBold.eot);
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"),
        url(../fonts/raleway/Raleway-ExtraBold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-ExtraBold.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-ExtraBold.woff) format("woff"),
        url(../fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Light.eot);
    src: local("Raleway Light"), local("Raleway-Light"),
        url(../fonts/raleway/Raleway-Light.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Light.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Light.woff) format("woff"),
        url(../fonts/raleway/Raleway-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Black.eot);
    src: local("Raleway Black"), local("Raleway-Black"),
        url(../fonts/raleway/Raleway-Black.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Black.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Black.woff) format("woff"),
        url(../fonts/raleway/Raleway-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Medium.eot);
    src: local("Raleway Medium"), local("Raleway-Medium"),
        url(../fonts/raleway/Raleway-Medium.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Medium.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Medium.woff) format("woff"),
        url(../fonts/raleway/Raleway-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-ExtraLight.eot);
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
        url(../fonts/raleway/Raleway-ExtraLight.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-ExtraLight.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-ExtraLight.woff) format("woff"),
        url(../fonts/raleway/Raleway-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Thin.eo../fonts/raleway/);
    src: local("Raleway Thin"), local("Raleway-Thin"),
        url(../fonts/raleway/Raleway-Thin.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Thin.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Thin.woff) format("woff"),
        url(../fonts/raleway/Raleway-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-SemiBold.eot);
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
        url(../fonts/raleway/Raleway-SemiBold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-SemiBold.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-SemiBold.woff) format("woff"),
        url(../fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Bold.eot);
    src: local("Raleway Bold"), local("Raleway-Bold"),
        url(../fonts/raleway/Raleway-Bold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/raleway/Raleway-Bold.woff2) format("woff2"),
        url(../fonts/raleway/Raleway-Bold.woff) format("woff"),
        url(../fonts/raleway/Raleway-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: light;
}    

body {
    margin: 0;
}

.header-wrp {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg_photo_11949.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
}

.header-top {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo,
.logo:visited {
    margin: 0;
    font-family: raleway;
    width: 181px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: color 0.5s ease;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 300;
    text-align: right;
    letter-spacing: -0.04em;
}

.logo:hover {
    color: #998675;
}

.logo:active {
    color: #ffffff;
}

.menu-list {
    
    display: block;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    text-align: center;
}

.menu-link {
    list-style-type: none;
    margin: 0 0 0 30px;
}

.menu-link:nth-child(1) {
    margin:0;
}

.menu-link:nth-child(8) {
    margin: 0 30px 0 30px;
}

.menu-link-a,
.menu-link-a:visited {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    transition: color 0.5s ease;
}

.menu-link-a:hover {
    color: #998675;
}

.menu-link-a:active {
    color: #ffffff;
}

.menu-label,
.menu-input {
  display: none;
}

.menu-icon-wrp {
    display: block;
    display: flex;
    justify-content: space-between;
}

.menu-icon-cart {
    width: 18px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-svg,
.cart-svg:visited {
    fill: #ffffff;
    transition: fill 0.5s ease;
}

.cart-svg:hover {
    fill: #998675;
}

.cart-svg:active {
    fill: #ffffff;
}

.menu-icon-search {
    width: 24px;
    height: 24px;
    margin: 0 0 0 30%;
    position: relative;
}

.menu-icon-search_label {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-icon-search-svg {
    fill: #ffffff;
    transition: fill 0.5s ease;
}

.menu-icon-search_label:hover .menu-icon-search-svg{
    fill: #998675;
}

.menu-icon-search_label:active .menu-icon-search-svg{
    fill: #ffffff;
}

input[type="search"] {
    width: 0px;
    min-height: 0;
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    position: absolute;
    top: 40px;
    left: -150px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

input[type="search"]:valid,
input[type="search"]:focus {
    width: 150px;
    transition: width 1s ease-out;
    background-position: right;
    color: #ffffff;
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
}

.header-item {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.heder-item-slogan {
    color: #ffffff;
    text-align: center;
    width: 50%;
    max-width: 590px;
    min-width: 400px;
    height: 261px;
    position: relative;
    z-index: 20;
    margin: 0 auto;
}

.header-item-slogan-h2 {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.header-item-slogan-h1 {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.header-item-slogan-p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin: 0 0 52px 0;
}

.btn {
    margin: 0 auto;
    display: flex;
    max-width: 170px;
    min-width: 90px;
    min-height: 53px;
    text-decoration: none;
    background-color: #998675;
    border-radius: 3.0px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    color: #ffffff;
    transition: background-color 0.5s ease;
    transition: color 0.7s ease;
}

.header-btn-txt {
    margin: auto;
}

.btn:hover {
    background-color: #ffffff;
    color: #998675;
}

.btn:active {
    background-color: #998675;
    color: #ffffff;
}

.slider-arrow-wrp {
    top: 50%;
    width: 100%;
    height: 73px;
    position: absolute;
    z-index: 10;
    transform: translate3d(0, -50%, 0);
}

.slider-arrow-left {
    width: 40px;
    height: 100%;
    position: absolute;
    left: 150px;
}

.slider-arrow-left:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(-135deg);
    position: absolute;
    top: 10px;
    left: 11px;
}

.slider-arrow-left:hover:after {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.slider-arrow-right {
    width: 40px;
    height: 100%;
    position: absolute;
    right: 150px;
}

.slider-arrow-right:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow-right:hover:after {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.header-pagination {
    position: absolute;
    width: 115px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: 42px;
}

.header-pagination-item {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #998675;
    border: 2px solid transparent;
    transition: background-color 0.5s ease;
    transition: border 0.5s ease;
    transition: transform 0.5s ease;
}

.header-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #998675;
    transform: scale(1.2);
}

.main-waxom {
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.main-waxom-head-items {
    width: 80%;
    min-width: 375px;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.main-waxom-head-item {
    display: block;
    width: 266px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 0 40px 0;
}

.main-waxom-head-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin-top: 30px;
}

.main-waxom-head-item:hover:after {
    background-color: #c7b299;
}

.main-waxom-head-item:active:after {
    background-color: #f1eee9;
}

.main-waxom-head-item-svg {
    height: 50px;
    display: block;
    fill: #555555;
    margin: 0 0 30px 0;
    transition: fill 0.5s ease;
}

.main-waxom-head-item:hover .main-waxom-head-item-svg {
    fill: #c7b299;
}

.main-waxom-head-item:active .main-waxom-head-item-svg {
    fill: #555555;
}

.main-waxom-head-item-h {
    width: 100%;
    margin: 0 0 20px 0;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    text-align: center;
    transition: color 0.5s ease;
}

.main-waxom-head-item-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    color: #8c8c8c;
    text-align: center;
    margin: 0;
}

.main-waxom-head-item:hover .main-waxom-head-item-h {
    color: #c7b299;
}

.main-waxom-head-item:active .main-waxom-head-item-h {
    color: #555555;
}

.main-waxom-body {
    width: 100%;
    margin: 80px 0 0 0;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.main-waxom-body-h {
    margin: 80px 0 24px 0;
    display: block;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    text-align: center;
}

.main-waxom-body-p {
    display: block;
    width: 55%;
    max-width: 757px;
    min-width: 375px;
    text-align: center;
    display: block;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
    color: #8c8c8c;
    margin: 0 0 40px 0;
}

.main-waxom-body-wrp {
    width: 80%;
    min-width: 600px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-waxom-body-img:first-child {
    position: absolute;
    top: 82px;
    left: 20px;
    z-index: 1;
}

.main-waxom-body-img:nth-child(2) {
    margin: 0 auto;
    z-index: 2;
}

.main-waxom-body-img:last-child {
    position: absolute;
    top: 82px;
    right: 20px;
    z-index: 1;
}

.main-waxom-body-img:hover:first-child {
    filter: brightness(40%);
}

.main-waxom-body-img:hover:last-child {
    filter: brightness(40%);
}

.main-waxom-body-img:active:first-child {
    filter: none;
}

.main-waxom-body-img:active:last-child {
    filter: none;
}

.waxom-aside {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.waxom-aside-wrp {
    width: 80%;
    min-width: 500px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 48px 0 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.waxom-aside-h {
    min-width: 400px;
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 8px 0;
}

.waxom-aside-h-span {
    color: #c7b299;
}

.waxom-aside-p {
    min-width: 300px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 200;
    color: #615855;
    margin: 0;
}

.btn-waxon-aside {
    display: flex;
    width: 170px;
    min-height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.txt-btn-waxon-aside {
    margin: auto;
    text-align: center;
}

.btn-waxon-aside:hover {
    color: #998675;
    background-color: #ffffff;
}

.btn-waxon-aside:active {
    color: #ffffff;
    background-color: #998675;
}

.main-projects {
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.projects-h {
    display: block;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    text-align: center;
    margin: 0 0 24px 0;
}

.projects-p {
    display: block;
    width: 55%;
    max-width: 757px;
    min-width: 375px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
    color: #8c8c8c;
    text-align: center;
    margin: 0 0 40px 0;
}

.projects-btn-wrp {
    width: 50%;
    max-width: 630px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}

.projects-btn {
    height: 32px;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    color: #8c8c8c;
    outline: none;
    transition: background-color 0.5s ease;
    transition: border 0.5s ease;
    transition: color 0.5s ease;
    margin: 0 0 10px 0;
}

.projects-btn-txt {
    margin: 10px 17px 8px 17px;
}

.projects-btn:hover {
    background-color: #998675;
    border: 1.0px solid #998675;
    color: #ffffff;
}

.projects-btn:active {
    border: 1.0px solid #ebebeb;
    color: #8c8c8c;
    background-color: transparent;
}

.projects-article-wrp {
    width: 80%;
    max-width: 1170px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
}

.projects-article {
    width: 370px;
    margin: 0 0 30px 0;
    position: relative;
}

.projects-article:hover .projects-article-btn-link {
    display: block;
}
.projects-article:hover .projects-article-btn-search{
    display: block;
}

.projects-article:hover .project-article-photo {
    filter: brightness(30%);
}

.projects-article:hover .projects-article-txt-wrp {
    background-color: #362f2d;
}

.projects-article:hover .projects-article-txt-wrp:before {
    border-bottom: 14px solid #362f2d;
}

.projects-article:hover .projects-article-txt-h {
    color: #ffffff;
}

.projects-article:hover .projects-article-txt-p {
    color: #c7b299;
}

.project-article-photo {
    width: 100%;
    display: block;
}

.projects-article-txt-wrp:before {
    content: "";
    position: absolute;
    top: -28px;
    left: 21px;
    border: 18px solid transparent;
    border-bottom: 14px solid #fbfaf8;
    
}

.projects-article-txt-wrp {
    width: 100%;
    min-height: 100px;
    background-color: #fbfaf8;
    position: relative;
}

.projects-article-txt-h {
    display: block;
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    padding: 30px 0 14px 30px;
    margin: 0;
}

.projects-article-txt-p {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    margin: 0;
    padding: 0px 0 30px 30px;
}

.projects-article-btn-link,
.projects-article-btn-search {
    width: 26px;
    height: 26px;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 31%;
}

.projects-article-btn-link {
    left: 39%;
    padding: 0;
}

.projects-article-btn-search {
    right: 39%;
    padding: 0;
}

.projects-icon-svg {
    fill: transparent;
}

.projects-article:hover .projects-icon-svg {
    fill: #ffffff;
}

.projects-article:hover .projects-icon-svg:hover {
    fill: #c7b299;
}

.projects-btn-load {
    display: flex;
    width: 170px;
    min-height: 50px;
    border: none;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    background-color: #998675;
    border-radius: 3.0px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    color: #ffffff;
    transition: background-color 0.5s ease;
    transition: border 0.5s ease;
    transition: color 0.5s ease;
}

.projects-btn-load-txt {
    margin: auto;
}

.projects-btn-load:hover {
    color: #8c8c8c;
    background-color: transparent;
    border: 1.0px solid #ebebeb;
}

.projects-btn-load:active {
    background-color: #998675;
    color: #ffffff;
}

.main-video {
    display: flex;
    flex-direction: column;
    position: relative;
}

video {
    width: 100%;
    object-fit: cover;
}

.main-video-play {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 552px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
   
}

.main-video-play-btn {
    display: flex;
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1.3s ease-in-out;
	-moz-transition:    all 1.3s ease-in-out;
	-o-transition:      all 1.3s ease-in-out;
	-ms-transition:     all 1.3s ease-in-out;
}

.main-video-play-btn:hover { 
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(360deg) scale(1.3);
	-moz-transform:    rotate(360deg) scale(1.3);
	-o-transform:      rotate(360deg) scale(1.3);
	-ms-transform:     rotate(360deg) scale(1.3);   
}

.main-video-play-svg {
    margin: auto;
    fill: #ffffff;
    transition: fill 0.5s ease;
}

.main-video-play-svg:hover {
    fill: #c7b299;
}

.main-video-play-svg:active {
    fill: #ffffff;
}

.main-video-play-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-video-play-h {
    margin: 40px 0 0px 0;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.main-video-play-p {
    margin: 28px 0 0 0;
    width: 100%;
    max-width: 552px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
}

.main-video-play-time {
    margin: 38px 0 0 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #c7b299;
}

.main-excellent {
    position: relative;
    width: 100%;
    min-height: 695px;
    background-color: #fbfaf8;
    background-image: url(../img/iphone_in_hand.png);
    background-repeat: no-repeat;
    background-size: 432px 615px;
    background-position: left 30%  top 100%; 
}

.main-excellent-wrp {
    position: absolute;
    left: 45%;
    top: 20%;
    display: inline;
    height: 317px;
    width: 55%;
    max-width: 657px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-excellent-h {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.main-excellent-p {
    width: 100%;
    max-width: 657px;
    min-width: 300px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
    color: #8c8c8c;
    margin: 0;
}

.main-excellent-list {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
    color: #8c8c8c;
    margin: 0;
}

.main-excellent-list-txt:before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -8px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c7b299;
}

.main-excellent-list-txt {
    list-style-type: none;
    padding-left: 33px;
    position: relative;
}

.main-satisfied {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 65px;
}

.main-satisfied-items-wrp {
    width: 80%;
    min-width: 350px;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-satisfied-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 132px;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    align-items: center;
}

.main-satisfied-items:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ffffff;
}

.main-satisfied-items:nth-child(1) {
    width: 156px;
}

.main-satisfied-items:nth-child(2) {
    width: 146px;
}

.main-satisfied-items:nth-child(4) {
    width: 100px;
}

.main-satisfied-items:hover .main-satisfied-items-svg{
    fill: #8a7256;
}

.main-satisfied-items:hover .main-satisfied-items-txt {
    color: #8a7256;
}

.main-satisfied-items:hover:after {
    background-color: #8a7256;
}

.main-satisfied-items:active .main-satisfied-items-svg {
    fill: #c7b299;
}

.main-satisfied-items:active .main-satisfied-items-txt {
    color: #c7b299;
}

.main-satisfied-items:hover:after {
    background-color: #ffffff;
}

.main-satisfied-items-svg {
    fill: #c7b299;
    transition: fill 0.5s ease;
}

.main-satisfied-items-nom {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin: 30px 0 24px 0;
}

.main-satisfied-items-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: #c7b299;
    text-align: center;
    margin: 0 0 30px 0;
    transition: color 0.5s ease;
}

.main-recent {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.main-recent-h {
    display: block;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    margin: 0 0 30px 0;
    text-align: center;
}

.main-recent-p {
    width: 55%;
    max-width: 757px;
    min-width: 300px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 40px 0;
    text-align: center;
}

.main-recent-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.main-recent-item {
    width: 370px;
    position: relative;
}

.main-recent-item:hover .main-recent-items-txt {
    background-color: #362f2d;
    border: 1px solid #362f2d;
}

.main-recent-item:hover .main-recent-items-txt-h {
    color: #c7b299;
}

.main-recent-item:hover .main-recent-items-txt-p {
    color: #ffffff;
}

.main-recent-item:hover .main-recept-items-photo {
    filter: brightness(30%);
}

.main-recent-item:hover .main-recent-items-day {
    background-color: #c7b299;
}

.main-recent-item:hover .main-recent-items-monht {
    background-color: #a48d72;
}

.main-recept-items-photo {
    display: block;
}

.main-recent-items-data-data {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 21px;
    left: 20px;
    width: 50px;
}

.main-recent-items-day {
    display: block;
    border-radius: 3.0px 3.0px 0.0px 0.0px;
    width: 100%;
    height: 35px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 35px;
    font-weight: 200;
    background-color: #363636;
}

.main-recent-items-monht {
    display: block;
    border-radius: 0.0px 0.0px 3.0px 3.0px;
    width: 100%;
    height: 25px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    background-color: #252525;
}

.main-recent-items-txt {
    border: 1.0px solid #f8f8f8;
    padding: 30px 0 30px 30px;
}

.main-recent-items-txt-h {
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: #555555;
}

.main-recent-items-txt-p {
    
    width: 297px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
    color: #8c8c8c;
    margin: 19px 0 29px 0;   
}

.main-recent-items-txt-link {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    color: #c7b299;
    text-decoration: none;
    position: relative;
}

.main-recent-items-txt-link:after {
    content: "";
    display: block;
    border: 5px solid transparent; 
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 5px;
    left: 90px;
}

.main-recent-items-txt-link:hover {
    color: #ffffff;
}

.main-recent-items-txt-link:hover:after {
    border-left: 5px solid #ffffff;
}

.main-recent-items-txt-link:active {
    color: #c7b299;
}

.main-recent-items-txt-link:active:after {
    border-left: 5px solid #c7b299;
}

.main-recent-btn {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.main-recent-btn-r,
.main-recent-btn-l {
    width: 23px;
    height: 23px;
    outline: none;
    border: none;
    display: block;
    margin: 5px;
    padding: 0;
    background: none;
}

.main-recent-svg {
    fill: #c7b299;
}

.main-recent-btn-r:hover .main-recent-svg {
    fill: #d1d1d1;
}

.main-recent-btn-r:acrive .main-recent-svg {
    fill: #c7b299;
}

.main-recent-btn-l:hover .main-recent-svg {
    fill: #d1d1d1;
}

.main-recent-btn-l:acrive .main-recent-svg {
    fill: #c7b299;
}

.main-partners {
    width: 100%;
    background-image: url(../img/bg_photo_11122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

.main-partners-wrp {
    width: 80%;
    max-width: 1170px;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-partners-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-partners-photo {
    transition: filter 0.5s ease;
}

.main-partners-link:hover .main-partners-photo {
    filter: brightness(40%);
}

.main-partners-link:active .main-partners-photo {
    filter: none;
}

.footer-waxom {
    width: 100%;
    background-color: #191919;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-waxom-wrp {
    width: 80%;
    max-width: 1300px;
    min-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-waxom-item {
    width: 270px;
}

.footer-waxom-item-txt {
    width: 100%;
    min-width: 180px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin: 30px 0 30px 0;
    transition: color 0.5s ease;
}

.footer-waxom-item-read-link {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.5s ease;
}

.footer-waxom-item-read-link:after {
    content: "";
    display: block;
    border: 5px solid transparent; 
    border-left: 5px solid #ffffff;
    position: absolute;
    top: 5px;
    left: 90px;
    transition: border-left 0.5s ease;
}

.footer-waxom-item-read-link:hover {
    color: #c7b299;
}

.footer-waxom-item-read-link:hover:after {
    border-left: 5px solid #c7b299;
}

.footer-waxom-item-read-link:active {
    color: #ffffff;
}

.footer-waxom-item-read-link:active:after {
    border-left: 5px solid #ffffff;
}

.footer-waxom-item-h {
    display: block;
    width: 100%;
    min-width: 150px;
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    transition: color 0.5s ease;
}

.footer-waxom-item-txt-wrp {
    border-bottom: 1px solid #252525;
}

.footer-waxom-item-txt-wrp:nth-child(4) {
    border: none;    
}

.footer-waxom-item-txt-wrp:hover  .footer-waxom-txt {
    color: #c7b299;
}

.footer-waxom-item-txt-wrp:hover  .footer-waxom-item-time {
    color: #ffffff;
}

.footer-waxom-item-txt-wrp:active  .footer-waxom-txt {
    color: #555555;
}

.footer-waxom-item-txt-wrp:active  .footer-waxom-item-time {
    color: #363636;
}

.footer-waxom-item-time {
    display: block;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    padding-top: 10px;
    transition: color 0.5s ease;
}

.footer-waxom-txt,
.footer-waxom-txt-l {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-waxom-txt {
    margin-bottom: 10px;
    margin-top: 0;
    transition: color 0.5s ease;
}

.footer-waxom-txt-l{
    margin: 10px 0 0 0;
}

.footer-waxom-link-bit {
    text-decoration: none;
    color: #959595;
    transition: color 0.5s ease;
}

.footer-waxom-link-bit:hover {
    color: #ffffff;
}

.footer-waxom-link-bit:active {
    color: #959595;
}

.footer-waxom-network {
    text-decoration: none;
    color: #00bff3;
    transition: color 0.5s ease;
}

.footer-waxom-network:hover {
    color: #0f5b70;
}

.footer-waxom-network:active {
    color: #00bff3;
}

.footer-waxom-item-ago {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    display: block;
    margin: 0 0 10px 0;
}

.footer-waxom-item_4 {
    width: 270px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-waxom-item-dribble-link {
    margin-bottom: 5px;
}

.footer-waxom-item-photo {
    display: block;
    transition: filter 0.5s ease;
}

.footer-waxom-item-dribble-link:hover .footer-waxom-item-photo {
    filter: brightness(30%);
}

.footer-waxom-item-dribble-link:active .footer-waxom-item-photo {
    filter: none;
}

.footer-copyright {
    background-color: #111111;
    padding: 45px 0 52px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.footer-waxom-copyright-list-left {
    margin: 0;
    list-style-type: none;
    display: flex;
    text-align: center;
    position: relative;
    padding: 0;
}

.footer-waxom-copyright-link {
    text-decoration: none;
    display: block;
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    position: relative;
}

.footer-waxom-copyright-link + .footer-waxom-copyright-link:before {
    content: "|";
    font-size: 16px;
    display: block;
    position: absolute;
    top: 0px;
    left: -16px;
}

.span-white-color {
    color: #ffffff;
    transition: color 0.5s ease;
}

.footer-waxom-copyright-link-a {
    text-decoration: none;
    color: #555555;
    transition: color 0.5s ease;
}

.footer-waxom-copyright-link-a:hover {
    color: #c7b299;
}

.footer-waxom-copyright-link-a:active {
    color: #555555;
}

.footer-waxom-copyright-link-a:hover .span-white-color {
    color: #c7b299;
}

.footer-waxom-copyright-link-a:active .span-white-color {
    color: #ffffff;
}

.footer-waxom-copyright-list-right {
    margin: 0;
    list-style-type: none;
    display: flex;
}

.footer-waxom-copyright-link:nth-child(1) {
    margin-left: 0px;
}

@media (max-width: 915px) {
    .menu-link {
        margin: 0 0 0 10px;
    }
    
    .header-item-slogan-p {
        margin: 0 0 20px 0;
    }
}
    
@media (max-width: 576px) {
    .header-wrp {
        width: 100%;
        height: 145px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .header-top {
        width: 100%;
        justify-content: space-between;
    }
    
    .menu-icon-wrp {
        display: none;
    }
    
    .menu {
        display: block;
        position: relative;
        top: 0px;
        right: 0px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    
    .menu-input {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -9px;
        right: 0px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        -webkit-touch-callout: none;
    }
    
    .menu-span {
        display: block;
        width: 32px;
        height: 4px;
        z-index: 1;
        border-radius: 4px;
        position: relative;
        background: #fff;
        margin-bottom: 7px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .menu-span:first-child {
        transform-origin: 0% 0%;
        transition: width, 0.5s;
    }

    .menu-span:nth-last-child(2) {
        transform-origin: 0% 100%;
        width: 22px;
        transition: width, 0.5s;
    }

    .menu-input:checked ~ .menu-span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #232323;
        width: 36px;
        transition: width, 0.5s;
    }

    .menu-input:checked ~ .menu-span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .menu-input:checked ~ .menu-span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, 0px);
        width: 36px;
    }

    .menu-list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .menu-link {
        text-align: center;
        margin: 0;
    }
    
    .menu-list {
        position: fixed;
        width: 100%;
        height: 100vh;
        margin: -100px 0 0 -60px;
        padding: 50px;
        padding-top: 125px;
        top: 0;
        left: 0;
        background: #fff;
        list-style-type: none;
        background-color: #3b3230;
        transform: translate(0%, 0%);
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    .menu-input:checked ~ .menu-list {
        transform: scale(1.0, 1.0);
        opacity: 1;
        visibility: visible;
    }
    
    .menu-link {
        padding: 10px 0;
        font-size: 30px;
    }
    
    .menu-link:nth-child(1) {
        margin-left: 0;
    }
    
    .header-item {
        display: none;
    }

    .main-partners-link {
        margin: 20px;
    }
   
    .main-waxom-body {
        display: none;
    }
    
    .waxom-aside {
        display: none;
    }
    
    .main-excellent {
        display: none;
    }
    
    .footer-waxom {
        display: none; 
    }
    
    .footer-copyright {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-waxom-copyright-list-left {
      margin: 0 auto;
    }
    
    .footer-waxom-copyright-list-right {
       margin-top: 20px;
    }
}

